<!DOCTYPE html>
<html lang="de"
      data-bs-theme="{theme}">
    {#include head}
        {#title}Banken - Statement of Qosts{/title}
    {/include}

    <body>
        {#include header /}

        <main>
            <div class="container">
                <h1 class="fw-bold">Bank erstellen</h1>
            </div>

            <form method="post"
                  action="/banken"
                  class="container">
                {#if neueBank.hatMeldungen(Schluessel:ALLGEMEIN)}
                    <ul class="list-unstyled text-center fw-bold">
                    {#for meldung in neueBank.getMeldungen(Schluessel:ALLGEMEIN)}
                        <li class="alert {#if meldung.istErfolg()}alert-success{/if}{#if meldung.istWarnung()}alert-warning{/if}{#if meldung.istFehler()}alert-danger{/if}">{meldung.text}</li>
                    {/for}
                    </ul>
                {/if}

                {#if gespeicherteBank.hatMeldungen(Schluessel:ALLGEMEIN)}
                    <ul class="list-unstyled text-center fw-bold">
                    {#for meldung in gespeicherteBank.getMeldungen(Schluessel:ALLGEMEIN)}
                        <li class="alert {#if meldung.istErfolg()}alert-success{/if}{#if meldung.istWarnung()}alert-warning{/if}{#if meldung.istFehler()}alert-danger{/if}">{meldung.text}</li>
                    {/for}
                    </ul>
                {/if}

                {#if geloeschteBank.hatMeldungen(Schluessel:ALLGEMEIN)}
                    <ul class="list-unstyled text-center fw-bold">
                    {#for meldung in geloeschteBank.getMeldungen(Schluessel:ALLGEMEIN)}
                        <li class="alert {#if meldung.istErfolg()}alert-success{/if}{#if meldung.istWarnung()}alert-warning{/if}{#if meldung.istFehler()}alert-danger{/if}">{meldung.text}</li>
                    {/for}
                    </ul>
                {/if}

                <div class="row">
                    <div class="col">
                        <label for="bezeichnung"
                               class="form-label mt-2 fw-bold">
                            Bezeichnung
                        </label>

                        <input id="bezeichnung"
                               name="bezeichnung"
                               type="text"
                               class="form-control {#if neueBank.hatMeldungen(Schluessel:BEZEICHNUNG)}is-invalid{/if}"
                               placeholder="Musterbank AG"
                               aria-label="bezeichnung"
                               value="{neueBank.bezeichnung}" />

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in neueBank.getMeldungen(Schluessel:BEZEICHNUNG)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>

                    <div class="col">
                        <label for="bic"
                               class="form-label mt-2 fw-bold">
                            BIC
                        </label>

                        <input id="bic"
                               name="bic"
                               type="text"
                               class="form-control {#if neueBank.hatMeldungen(Schluessel:BIC)}is-invalid{/if}"
                               placeholder="BBBB CC LL bbb"
                               aria-label="bic"
                               value="{neueBank.bic}" />

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in neueBank.getMeldungen(Schluessel:BIC)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-grid gap-2">
                        <button type="submit"
                                class="btn btn-success mt-3 fw-bold">
                            Bank erstellen
                        </button>
                    </div>
                </div>
            </form>

            <div class="container mt-5">
                <div class="row rounded shadow fw-bold py-2 mt-5">
                    <div class="col">
                        <div class="row soq">
                            <div class="col">ID</div>

                            <div class="col">Bezeichnung</div>

                            <div class="col">BIC</div>
                        </div>
                    </div>

                    <div class="col ms-1">
                        <div class="row soq">
                            <div class="col">
                                Aktion
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover mt-5">
                <thead class="table-soq">
                    <tr>
                        <th>ID</th>
                        <th>Bezeichnung</th>
                        <th>BIC</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {#for bank in banken}
                        <tr>
                        <td>{bank.id}</td>
                        <td>{bank.bezeichnung}</td>
                        <td>{bank.bic}</td>
                        <td>
                            <a href="/banken/{bank.id}"
                               class="text-success float-end">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <form method="GET"
                                  action="/banken">
                                <button class="btn btn-link text-danger"
                                        type="button"
                                        onclick="loesche('{bank.id}')">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </td>
                        </tr>
                    {/for}
                </tbody>
            </table>
        </main>

        {#include footer /}
    </body>

    <script type="application/javascript" src="/js/bank.js"></script>
</html>
