<!DOCTYPE html>
<html lang="de">
    {#include head}
        {#title}Banken - Statement of Qosts{/title}
    {/include}

    <body>
        {#include header /}

        <main class="container mt-5">
            <h1 class="fw-bold">Bank erstellen</h1>

            <form method="post"
                  action="/banken">
                {#if neueBank.hatMeldungen(Schluessel:ALLGEMEIN)}
                    <ul class="list-unstyled alert {#if neueBank.istErfolgreich()}alert-success{/if}">
                    {#for meldung in neueBank.getMeldungen(Schluessel:ALLGEMEIN)}
                        <li>{meldung.text}</li>
                    {/for}
                    </ul>
                {/if}

                <div class="row">
                    <div class="col">
                        <label for="bezeichnung"
                               class="form-label mt-2 fw-bold">
                            Bezeichnung
                        </label>

                        <input id="bezeichnung"
                               name="bezeichnung"
                               type="text"
                               class="form-control {#if neueBank.hatMeldungen(Schluessel:BEZEICHNUNG)}is-invalid{/if}"
                               placeholder="Musterbank AG"
                               aria-label="bezeichnung"
                               value="{neueBank.bezeichnung}" />

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in neueBank.getMeldungen(Schluessel:BEZEICHNUNG)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>

                    <div class="col">
                        <label for="bic"
                               class="form-label mt-2 fw-bold">
                            BIC
                        </label>

                        <input id="bic"
                               name="bic"
                               type="text"
                               class="form-control {#if neueBank.hatMeldungen(Schluessel:BIC)}is-invalid{/if}"
                               placeholder="BBBBCCLLbbb"
                               aria-label="bic"
                               value="{neueBank.bic}" />

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in neueBank.getMeldungen(Schluessel:BIC)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit"
                                class="btn btn-primary mt-3 fw-bold">
                            Bank erstellen
                        </button>
                    </div>
                </div>
            </form>

            <table class="table table-striped table-hover mt-5">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Bezeichnung</th>
                        <th>BIC</th>
                    </tr>
                </thead>
                <tbody>
                    {#for bank in banken}
                        <tr>
                        <td>{bank.id}</td>
                        <td>{bank.bezeichnung}</td>
                        <td>{bank.bic}</td>
                        </tr>
                    {/for}
                </tbody>
            </table>
        </main>

        {#include footer /}
    </body>
</html>
