<!DOCTYPE html>
<html lang="de">
    {#include head}
        {#title}Banken - Statement of Qosts{/title}
    {/include}

    <body>
        {#include header /}

        <main class="container">
            <h1 class="fw-bold">Bank erstellen</h1>

            <form method="post"
                  action="/banken">
                {#if neueBank.hatMeldungen(Schluessel:ALLGEMEIN)}
                    <ul class="list-unstyled text-center fw-bold">
                    {#for meldung in neueBank.getMeldungen(Schluessel:ALLGEMEIN)}
                        <li class="alert {#if meldung.istErfolg()}alert-success{/if}{#if meldung.istWarnung()}alert-warning{/if}{#if meldung.istFehler()}alert-danger{/if}">{meldung.text}</li>
                    {/for}
                    </ul>
                {/if}

                {#if gespeicherteBank.hatMeldungen(Schluessel:ALLGEMEIN)}
                    <ul class="list-unstyled text-center fw-bold">
                    {#for meldung in gespeicherteBank.getMeldungen(Schluessel:ALLGEMEIN)}
                        <li class="alert {#if meldung.istErfolg()}alert-success{/if}{#if meldung.istWarnung()}alert-warning{/if}{#if meldung.istFehler()}alert-danger{/if}">{meldung.text}</li>
                    {/for}
                    </ul>
                {/if}

                {#if geloeschteBank.hatMeldungen(Schluessel:ALLGEMEIN)}
                    <ul class="list-unstyled text-center fw-bold">
                    {#for meldung in geloeschteBank.getMeldungen(Schluessel:ALLGEMEIN)}
                        <li class="alert {#if meldung.istErfolg()}alert-success{/if}{#if meldung.istWarnung()}alert-warning{/if}{#if meldung.istFehler()}alert-danger{/if}">{meldung.text}</li>
                    {/for}
                    </ul>
                {/if}

                <div class="row">
                    <div class="col">
                        <label for="bezeichnung"
                               class="form-label mt-2 fw-bold">
                            Bezeichnung
                        </label>

                        <input id="bezeichnung"
                               name="bezeichnung"
                               type="text"
                               class="form-control {#if neueBank.hatMeldungen(Schluessel:BEZEICHNUNG)}is-invalid{/if}"
                               placeholder="Musterbank AG"
                               aria-label="bezeichnung"
                               value="{neueBank.bezeichnung}" />

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in neueBank.getMeldungen(Schluessel:BEZEICHNUNG)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>

                    <div class="col">
                        <label for="bic"
                               class="form-label mt-2 fw-bold">
                            BIC
                        </label>

                        <input id="bic"
                               name="bic"
                               type="text"
                               class="form-control {#if neueBank.hatMeldungen(Schluessel:BIC)}is-invalid{/if}"
                               placeholder="BBBB CC LL bbb"
                               aria-label="bic"
                               value="{neueBank.bic}" />

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in neueBank.getMeldungen(Schluessel:BIC)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit"
                                class="btn btn-primary mt-3 fw-bold">
                            Bank erstellen
                        </button>
                    </div>
                </div>
            </form>

            <table class="table table-striped table-hover mt-5">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Bezeichnung</th>
                        <th>BIC</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {#for bank in banken}
                    <tr>
                        <td>{bank.id}</td>
                        <td>{bank.bezeichnung}</td>
                        <td>{bank.bic}</td>
                        <td>
                            <a href="/banken/{bank.id}"
                               class="text-black fw-bold">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="currentColor"
                                     class="bi bi-pencil"
                                     viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                </svg>
                            </a>
                        </td>
                        <td>
                            <a href="/banken/{bank.id}"
                               class="text-black fw-bold">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="currentColor"
                                     class="bi bi-trash"
                                     viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>

                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    {/for}
                </tbody>
            </table>
        </main>

        {#include footer /}
    </body>
</html>
