<!DOCTYPE html>
<html lang="de">
    {#include head}
        {#title}Buchungen - Statement of Qosts{/title}
    {/include}

    <body>
        {#include header /}

        <main class="container">
            <h1 class="fw-bold">Buchung: {gespeicherteBuchung.id}</h1>

            <div class="row mt-3">
                <div class="col">
                    <a href="/buchungen"
                       class="btn btn-secondary fw-bold">
                        <i class="bi bi-arrow-left"></i>
                    </a>
                </div>
            </div>

            <form method="post"
                  action="/buchungen/{gespeicherteBuchung.id}">
                {#if gespeicherteBuchung.hatMeldungen(Schluessel:ALLGEMEIN)}
                    <ul class="list-unstyled text-center fw-bold">
                    {#for meldung in gespeicherteBuchung.getMeldungen(Schluessel:ALLGEMEIN)}
                        <li class="alert {#if meldung.istErfolg()}alert-success{/if}{#if meldung.istWarnung()}alert-warning{/if}{#if meldung.istFehler()}alert-danger{/if}">{meldung.text}</li>
                    {/for}
                    </ul>
                {/if}

                <input id="id"
                       name="id"
                       type="hidden"
                       value="{gespeicherteBuchung.id}" />

                <div class="row">
                    <div class="col">
                        <label for="kategorieId"
                               class="form-label mt-2 fw-bold">
                            Kategorie
                        </label>

                        <select id="kategorieId"
                                name="kategorieId"
                                class="form-select {#if gespeicherteBuchung.hatMeldungen(Schluessel:KATEGORIE)}is-invalid{/if}">
                            {#for kategorie in kategorien}
                                <option value="{kategorie.id}"
                                        {#if gespeicherteBuchung.kategorie.equals(kategorie.bezeichnung)}selected="selected"{/if}>
                                    {kategorie.bezeichnung}
                                </option>
                            {/for}
                        </select>

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in gespeicherteBuchung.getMeldungen(Schluessel:KATEGORIE)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="datum"
                               class="form-label mt-2 fw-bold">
                            Datum
                        </label>

                        <input id="datum"
                               name="datum"
                               type="date"
                               class="form-control {#if gespeicherteBuchung.hatMeldungen(Schluessel:DATUM)}is-invalid{/if}"
                               placeholder="dd.MM.yyyy"
                               aria-label="datum"
                               value="{gespeicherteBuchung.datum}" />

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in gespeicherteBuchung.getMeldungen(Schluessel:DATUM)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>

                    <div class="col">
                        <label for="betrag"
                               class="form-label mt-2 fw-bold">
                            Betrag
                        </label>

                        <input id="betrag"
                               name="betrag"
                               type="number"
                               class="form-control {#if gespeicherteBuchung.hatMeldungen(Schluessel:BETRAG)}is-invalid{/if}"
                               placeholder="1234,56"
                               step=".01"
                               aria-label="betrag"
                               value="{gespeicherteBuchung.betrag}" />

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in gespeicherteBuchung.getMeldungen(Schluessel:BETRAG)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="verwendungszweck"
                               class="form-label mt-2 fw-bold">
                            Verwendungszweck
                        </label>

                        <textarea id="verwendungszweck"
                                  name="verwendungszweck"
                                  class="form-control {#if gespeicherteBuchung.hatMeldungen(Schluessel:VERWENDUNGSZWECK)}is-invalid{/if}"
                                  aria-label="verwendungszweck"
                                  rows="3">{gespeicherteBuchung.verwendungszweck}</textarea>

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in gespeicherteBuchung.getMeldungen(Schluessel:VERWENDUNGSZWECK)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="auftraggeberId"
                               class="form-label mt-2 fw-bold">
                            Auftraggeber
                        </label>

                        <select id="auftraggeberId"
                                name="auftraggeberId"
                                class="form-select {#if gespeicherteBuchung.hatMeldungen(Schluessel:AUFTRAGGEBER)}is-invalid{/if}">
                            {#for auftraggeber in alleAuftraggeber}
                                <option value="{auftraggeber.id}">
                                    {auftraggeber.iban} {#if auftraggeber.hatKontoinhaber()}({auftraggeber.alleKontoinhaber}){/if}
                                </option>
                            {/for}
                        </select>

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in gespeicherteBuchung.getMeldungen(Schluessel:AUFTRAGGEBER)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>

                    <div class="col">
                        <label for="zahlungsbeteiligterId"
                               class="form-label mt-2 fw-bold">
                            Zahlungsbeteiligter
                        </label>

                        <select id="zahlungsbeteiligterId"
                                name="zahlungsbeteiligterId"
                                class="form-select {#if gespeicherteBuchung.hatMeldungen(Schluessel:ZAHLUNGSBETEILIGTER)}is-invalid{/if}">
                            {#for zahlungsbeteiligter in zahlungsbeteiligte}
                                <option value="{zahlungsbeteiligter.id}">
                                    {zahlungsbeteiligter.iban} {#if zahlungsbeteiligter.hatKontoinhaber()}({zahlungsbeteiligter.alleKontoinhaber}){/if}
                                </option>
                            {/for}
                        </select>

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in gespeicherteBuchung.getMeldungen(Schluessel:ZAHLUNGSBETEILIGTER)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-grid gap-2">
                        <button type="submit"
                                class="btn btn-success mt-3 fw-bold">
                            Buchung aktualisieren
                        </button>
                    </div>
                </div>
            </form>
        </main>

        {#include footer /}
    </body>
</html>
