<!DOCTYPE html>
<html lang="de">
    {#include head}
        {#title}Buchungen - Statement of Qosts{/title}
    {/include}

    <body>
        {#include header /}

        <main class="container">
            <h1 class="fw-bold">Buchung erstellen</h1>

            <table class="table table-striped table-hover mt-5">
                <thead class="table-soq">
                    <tr>
                        <th>ID</th>
                        <th>Datum</th>
                        <th>Betrag</th>
                        <th>Kategorie</th>
                    </tr>
                </thead>
                <tbody>
                    {#for buchung in buchungen}
                        <tr>
                        <td>{buchung.id}</td>
                        <td>{buchung.datum}</td>
                        <td>{buchung.betrag}</td>
                        <td>{buchung.kategorie}</td>
                        </tr>
                    {/for}
                </tbody>
            </table>
        </main>

        {#include footer /}
    </body>
</html>
