<head>
    <meta charset="UTF-8">

    <title>Statement of Qosts</title>

    <link rel="stylesheet"
          href="/META-INF/resources/css/main.css" />

    <link rel="stylesheet"
          href="/META-INF/resources/css/bootstrap.css" />

    <link rel="stylesheet"
          href="/META-INF/resources/css/bootstrap-grid.css" />

    <link rel="stylesheet"
          href="/META-INF/resources/css/bootstrap-icons.css" />

    <link rel="stylesheet"
          href="/META-INF/resources/css/bootstrap-reboot.css" />

    <link rel="stylesheet"
          href="/META-INF/resources/css/bootstrap-utilities.css" />

    <link rel="script"
          href="/META-INF/resources/js/bootstrap.js" />

    <link rel="script"
          href="/META-INF/resources/js/bootstrap.esm.js" />

    <link rel="script"
          href="/META-INF/resources/js/bootstrap.bundle.js" />
</head>
