<!DOCTYPE html>
<html lang="de"
      data-bs-theme="{theme}">
    {#include head}
        {#title}Import - Statement of Qosts{/title}
    {/include}

    <body>
        {#include header /}

        <main class="container">
            <h1 class="fw-bold">Import der Umsätze</h1>

            <form method="post"
                  action="/import"
                  enctype="multipart/form-data"
                  accept-charset="UTF-8">
                {#if neuerImport.hatMeldungen(Schluessel:ALLGEMEIN)}
                    <ul class="list-unstyled text-center fw-bold">
                    {#for meldung in neuerImport.getMeldungen(Schluessel:ALLGEMEIN)}
                        <li class="alert {#if meldung.istErfolg()}alert-success{/if}{#if meldung.istWarnung()}alert-warning{/if}{#if meldung.istFehler()}alert-danger{/if}">{meldung.text}</li>
                    {/for}
                    </ul>
                {/if}

                <div class="row">
                    <div class="col">
                        <label for="herausgeber"
                               class="form-label mt-2 fw-bold">
                            Herausgeber
                        </label>

                        <select id="herausgeber"
                                name="herausgeber"
                                class="form-select {#if neuerImport.hatMeldungen(Schluessel:HERAUSGEBER)}is-invalid{/if}">
                            <option value="1">Oldenburgische Landesbank AG</option>
                            <option value="2">VR BANK Dinklage-Steinfeld eG</option>
                        </select>

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in neuerImport.getMeldungen(Schluessel:HERAUSGEBER)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="datei"
                               class="form-label mt-2 fw-bold">
                            Datei
                        </label>

                        <input id="datei"
                               name="datei"
                               type="file"
                               class="form-control {#if neuerImport.hatMeldungen(Schluessel:DATEI)}is-invalid{/if}"
                               aria-label="datei"
                               value="{neuerImport.datei}" />

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in neuerImport.getMeldungen(Schluessel:DATEI)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-grid gap-2">
                        <button type="submit"
                                class="btn btn-success mt-3 fw-bold">
                            Importieren
                        </button>
                    </div>
                </div>
            </form>
        </main>

        {#include footer /}
    </body>
</html>
