<!DOCTYPE html>
<html lang="de">
    {#include head}
        {#title}Kategorien - Statement of Qosts{/title}
    {/include}

    <body>
        {#include header /}

        <main class="container">
            <h1 class="fw-bold">Kategorie erstellen</h1>

            <form method="post"
                  action="/kategorien">
                {#if neueKategorie.hatMeldungen(Schluessel:ALLGEMEIN)}
                    <ul class="list-unstyled text-center fw-bold">
                    {#for meldung in neueKategorie.getMeldungen(Schluessel:ALLGEMEIN)}
                        <li class="alert {#if meldung.istErfolg()}alert-success{/if}{#if meldung.istWarnung()}alert-warning{/if}{#if meldung.istFehler()}alert-danger{/if}">{meldung.text}</li>
                    {/for}
                    </ul>
                {/if}

                <div class="row">
                    <div class="col">
                        <label for="bezeichnung"
                               class="form-label mt-2 fw-bold">
                            Bezeichnung
                        </label>

                        <input id="bezeichnung"
                               name="bezeichnung"
                               type="text"
                               class="form-control {#if neueKategorie.hatMeldungen(Schluessel:BEZEICHNUNG)}is-invalid{/if}"
                               placeholder="Musterkategorie"
                               aria-label="bezeichnung"
                               value="{neueKategorie.bezeichnung}" />

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in neueKategorie.getMeldungen(Schluessel:BEZEICHNUNG)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-grid gap-2">
                        <button type="submit"
                                class="btn btn-success mt-3 fw-bold">
                            Kategorie erstellen
                        </button>
                    </div>
                </div>
            </form>

            <table class="table table-striped table-hover mt-5">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Bezeichnung</th>
                    </tr>
                </thead>
                <tbody>
                    {#for kategorie in kategorien}
                        <tr>
                        <td>{kategorie.id}</td>
                        <td>{kategorie.bezeichnung}</td>
                        </tr>
                    {/for}
                </tbody>
            </table>
        </main>

        {#include footer /}
    </body>
</html>
