<!DOCTYPE html>
<html lang="de">
    {#include head}
        {#title}Kontoinhaber - Statement of Qosts{/title}
    {/include}

    <body>
        {#include header /}

        <main class="container">
            <h1 class="fw-bold">Kontoinhaber erstellen</h1>

            <form method="post"
                  action="/banken">
                {#if neuerKontoinhaber.hatMeldungen(Schluessel:ALLGEMEIN)}
                    <ul class="list-unstyled alert {#if neuerKontoinhaber.istErfolgreich()}alert-success{/if}">
                    {#for meldung in neuerKontoinhaber.getMeldungen(Schluessel:ALLGEMEIN)}
                        <li>{meldung.text}</li>
                    {/for}
                    </ul>
                {/if}
            </form>

            <table class="table table-striped table-hover mt-5">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nachname</th>
                        <th>Vorname</th>
                        <th>IBAN</th>
                        <th>Bank</th>
                    </tr>
                </thead>
                <tbody>
                    {#for kontoinhaber in alleKontoinhaber}
                        <tr>
                        <td>{kontoinhaber.id}</td>
                        <td>{kontoinhaber.nachname}</td>
                        <td>{kontoinhaber.vorname}</td>
                        <td>{kontoinhaber.iban}</td>
                        <td>{kontoinhaber.bank}</td>
                        </tr>
                    {/for}
                </tbody>
            </table>
        </main>

        {#include footer /}
    </body>
</html>
