<!DOCTYPE html>
<html lang="de">
    {#include head}
        {#title}Privatpersonen - Statement of Qosts{/title}
    {/include}

    <body>
        {#include header /}

        <main class="container mt-5">
            <h1 class="fw-bold">Privatperson erstellen</h1>

            <form method="post"
                  action="/privatpersonen">
                {#if neuePrivatperson.hatMeldungen(Schluessel:ALLGEMEIN)}
                    <ul class="list-unstyled alert {#if neuePrivatperson.istErfolgreich()}alert-success{/if}">
                    {#for meldung in neuePrivatperson.getMeldungen(Schluessel:ALLGEMEIN)}
                        <li>{meldung.text}</li>
                    {/for}
                    </ul>
                {/if}

                <div class="row">
                    <div class="col">
                        <label for="nachname"
                               class="form-label mt-2 fw-bold">
                            Nachname
                        </label>

                        <input id="nachname"
                               name="nachname"
                               type="text"
                               class="form-control {#if neuePrivatperson.hatMeldungen(Schluessel:NACHNAME)}is-invalid{/if}"
                               placeholder="Mustermann"
                               aria-label="nachname"
                               value="{neuePrivatperson.nachname}" />

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in neuePrivatperson.getMeldungen(Schluessel:NACHNAME)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>

                    <div class="col">
                        <label for="vorname"
                               class="form-label mt-2 fw-bold">
                            Vorname
                        </label>

                        <input id="vorname"
                               name="vorname"
                               type="text"
                               class="form-control {#if neuePrivatperson.hatMeldungen(Schluessel:VORNAME)}is-invalid{/if}"
                               placeholder="Max"
                               aria-label="vorname"
                               value="{neuePrivatperson.vorname}">

                        <ul class="list-unstyled invalid-feedback">
                            {#for meldung in neuePrivatperson.getMeldungen(Schluessel:VORNAME)}
                                <li>{meldung.text}</li>
                            {/for}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit"
                                class="btn btn-primary mt-3 fw-bold">
                            Privatperson erstellen
                        </button>
                    </div>
                </div>
            </form>

            <table class="table table-striped table-hover mt-5">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nachname</th>
                        <th>Vorname</th>
                    </tr>
                </thead>
                <tbody>
                    {#for privatperson in privatpersonen}
                        <tr>
                        <td>{privatperson.id}</td>
                        <td>{privatperson.nachname}</td>
                        <td>{privatperson.vorname}</td>
                        </tr>
                    {/for}
                </tbody>
            </table>
        </main>

        {#include footer /}
    </body>
</html>
